ul {
  list-style: none;
  max-width: 50vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul li {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

ul li span:nth-child(2) {
  display: inline-block;
  width: 160px;
}

ul li:last-child span:first-child {
  display: inline-block;
  margin-left: -8px;
}


.progress-container {
  flex: 1;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 15px;
  position: relative;
  width: 35vw;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #4c51af, #4a8fc3);
  border-radius: 10px;
  transition: width 0.5s ease-out;
  min-width: 2px;
}