<main class="main">
  @if(year) {
  <h2> Year {{year}} </h2>
  }


  <ul>
    @for ( country of topCountries; track country.countryCode; let i = $index) {
    <li>
      <span> {{$index + 1}} </span>
      <span>{{ country.countryName }} </span>
      <div class="progress-container">
        <div class="progress-bar" [style.width.%]="getProgressPercentage(country.carbon)">
        </div>
      </div>
      <span>{{ country.carbon }} </span>
    </li>
    } @empty {
    <h2> fetching data... </h2>
    }
  </ul>

</main>

<router-outlet />